<div class="row" *ngIf="!enableCreateUserForm">
    <mat-form-field appearance="fill" style="width: 30%;">
        <mat-label>Select User</mat-label>
        <mat-select name="user" (selectionChange)="userSelectionChange($event)">
        <mat-option *ngFor="let user of usersList" [value]="user">
            {{user.name}}-{{user.mobile}}
        </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="enableCreateUserForm=true" class="create-button">Create User</button> &nbsp;
    <span class="success-message" *ngIf="enableUserOperationsMsg">{{userOperationsMsg}}</span>
</div>
<div class="row" *ngIf="enableCreateUserForm">
    <div class="row" style="color:#1976d2;">Create User</div>
    <mat-form-field class="name-field" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput #message maxlength="50" placeholder="" [(ngModel)]="userCreateRequest.name">
    </mat-form-field>
    <mat-form-field class="mobile-field" appearance="fill">
        <mat-label>Mobile</mat-label>
        <input matInput type="number" #message maxlength="10" placeholder="" [(ngModel)]="userCreateRequest.mobile">
    </mat-form-field>
    <mat-form-field class="address-field" appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput #message maxlength="256" placeholder="" [(ngModel)]="userCreateRequest.address">
    </mat-form-field>
    <mat-form-field class="pincode-field" appearance="fill">
        <mat-label>Pincode</mat-label>
        <input type="number" matInput #message maxlength="6" placeholder="" [(ngModel)]="userCreateRequest.pincode">
    </mat-form-field>
    <mat-icon aria-hidden="false" aria-label="Check icon" class="check-icon" (click)="createUser()" matTooltip="Create">check</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Close icon" class="close-icon" (click)="cancelCreateUser()" matTooltip="Cancel">close</mat-icon>
    <br><span class="error-message" *ngIf="!isUserCreateRequestValid">Please enter all the fields</span>
</div>